<div>
	<h1>Welcome to Nom Nom Decider!</h1>
	<h3>Let's get started.</h3>
	<p>Fill out the form below, click submit, and go get some food!</p>
</div>
<div>
	<div>
		<form>
			<div>
			  Location:<br>
			  <select name="location">
			  	<% @locations.each do |location| %>
	  				<option value="<%= location %>"><%= location %></option>
	  			<% end %>
				</select><br><br>
			</div>
		  <div>
			  Type of Food:<br>
			  <select name="food_types">
			  	<% @food_types.each do |type| %>
	  				<option value="<%= type %>"><%= type %></option>
	  			<% end %>
				</select><br><br>
			</div>
			<div>
				Price:<br>
				<input type="radio" name ="price" value="$" checked>$
				<input type="radio" name ="price" value="$$">$$
				<input type="radio" name ="price" value="$$$">$$$
				<input type="radio" name ="price" value="$$$$">$$$$<br><br>
			</div>
			<div>
			  Delivery:<br>
			  <input type="radio" name ="delivery" value="no" checked> No
			  <input type="radio" name ="delivery" value="yes" >Yes<br><br>
			</div>
		</form>
	</div>
	<div>
		<button type="button" onclick="alert('Search Results Coming Soon!')">SUBMIT</button>
		<br><br>
	</div>
</div>





