<div>
	<h1>Welcome to Nom Nom Decider!</h1>
	<h3>Let's get started.</h3>
	<p>Fill out the form below, click submit, and go get some food!</p>
</div>
<div>
	<div>
		<form>
			<div>
			  Location:<br>
			  <select name="location">
	  			<option value="manhattan">Manhattan</option>
	  			<option value="brooklyn">Brooklyn</option>
	  			<option value="queens">Queens</option>
	  			<option value="the_bronx">The Bronx</option>
	  			<option value="staten_island">Staten Island</option>
				</select><br><br>
			</div>
		  <div>
			  Food Category:<br>
			  <select name="food_category">
	  			<option value="italian">Italian</option>
	  			<option value="american">American</option>
	  			<option value="chinese">Chinese</option>
	  			<option value="japanese">Japanese</option>
	  			<option value="mexican">Mexican</option>
	  			<option value="seafood">Seafood</option>
	  			<option value="mediterranean">Mediterranean</option>
	  			<option value="thai">Thai</option>
	  			<option value="indian">Indian</option>
	  			<option value="french">French</option>
	  			<option value="korean">Korean</option>
	  			<option value="barbeque">Barbeque</option>
	  			<option value="vegetarian">Vegetarian</option>
				</select><br><br>
			</div>
			<div>
				Price:<br>
				<input type="radio" name ="price" value="$" checked>$
				<input type="radio" name ="price" value="$$">$$
				<input type="radio" name ="price" value="$$$">$$$
				<input type="radio" name ="price" value="$$$$">$$$$<br><br>
			</div>
			<div>
			  Delivery:<br>
			  <input type="radio" name ="delivery" value="no" checked> No
			  <input type="radio" name ="delivery" value="yes" >Yes<br><br>
			</div>
		</form>
	</div>
	<div>
		<button type="button" onclick="alert('Searh Results Coming Soon!')">SUBMIT</button>
		<br><br>
	</div>
</div>





