<div>
	<h1>Welcome to Nom Nom Decider!</h1>
	<h3>Let's get started.</h3>
	<p>Fill out the form below, click submit, and go get some food!</p>
</div>
<div>
	<div>
		<form>
		  Location:<br>
		  <input type="text" name="location"><br>
		  Food Category:<br>
		  <input type="text" name="foodcategory"><br>
		  Delivery:<br>
		  <input type="text" name="delivery"><br>
		  Price:<br>
		  <input type="text" name="price">
		</form>
	</div>
	<div>
		<h3>SUBMIT</h3>
	</div>
</div>